<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        Dashboard
        <!-- <v-row>
          <v-input 
          v-model="newItem"
          class="mb2"
          :label="$t('New Item')"
          id="newItem"
          name="newItem"
          type="text"
          @keyup.enter.prevent="addShoppingItem"
          ></v-input>
          <v-btn
              depressed
              color="primary"
              class="mb-2"
              @click.prevent="addShoppingItem"
              large
              >Add New Item
          </v-btn>
        </v-row> -->

        <v-row>
          <v-list-group>
            <v-list-item v-for="(item, index) in listItems" :key="index">
              <v-row> 
                {{item.itemname}} 
                <v-btn small depressed color="primary" class="mb-2" @click="deleteShoppingItem(item.id)"> 
                  Remove 
                </v-btn> 
              </v-row>
            </v-list-item>
          </v-list-group>
        </v-row>
      </v-col>
      <v-col class="mb-4">
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// @ is an alias to /src
import DashboardLayout from "@/layouts/DashboardLayout.vue";

export default {
  name: "Home",
  data: () => ({
  }),
  created() {
    this.$emit("update:layout", DashboardLayout);
  }
};
</script>